body { padding-top: 50px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: 1px solid #DDD; }
th { border-bottom: 1px solid black; }
table { border-collapse: collapse; }
